- Dữ liệu bao gồm bao nhiêu hàng + cột? 35 cột + 2640 hàng
- Kiểu dữ liệu các cột?

In [4]:
import pandas as pd
df = pd.read_csv("Billionaires Statistics Dataset.csv")
df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 35 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rank                                        2640 non-null   int64
 1   finalWorth                                  2640 non-null   int64
 2   category                                    2640 non-null   object
 3   personName                                  2640 non-null   object
 4   age                                         2575 non-null   float64
 5   country                                     2602 non-null   object
 6   city                                        2568 non-null   object
 7   source                                      2640 non-null   object
 8   industries                                  2640 non-null   object
 9   countryOfCitizenship                        2640 non-null   object
 10  organization                                325 non-null    object
 11  selfMade                                    2640 non-null   bool
 12  status                                      2640 non-null   object
 13  gender                                      2640 non-null   object
 14  birthDate                                   2564 non-null   object
 15  lastName                                    2640 non-null   object
 16  firstName                                   2637 non-null   object
 17  title                                       339 non-null    object
 18  date                                        2640 non-null   object
 19  state                                       753 non-null    object
 20  residenceStateRegion                        747 non-null    object
 21  birthYear                                   2564 non-null   float64
 22  birthMonth                                  2564 non-null   float64
 23  birthDay                                    2564 non-null   float64
 24  cpi_country                                 2456 non-null   float64
 25  cpi_change_country                          2456 non-null   float64
 26  gdp_country                                 2476 non-null   object
 27  gross_tertiary_education_enrollment         2458 non-null   float64
 28  gross_primary_education_enrollment_country  2459 non-null   float64
 29  life_expectancy_country                     2458 non-null   float64
 30  tax_revenue_country_country                 2457 non-null   float64
 31  total_tax_rate_country                      2458 non-null   float64
 32  population_country                          2476 non-null   float64
 33  latitude_country                            2476 non-null   float64
 34  longitude_country                           2476 non-null   float64
dtypes: bool(1), float64(14), int64(2), object(18)
memory usage: 704.0+ KB

- Cột gdp_country kiểu dữ liệu gì? -> Có thể thống kê cho kiểu dữ liệu này hay không
- Cách chuyển dữ liệu cho cột?

In [15]:
# Trích từ cột gdp_country
gdp_country_series = df["gdp_country"]
gdp_country_series.head()

#gdp_country_series.dtype #dtype('0')

dtype('O')

# Biến đổi dữ liệu với apply

> `DataFrame.apply(<Hàm biến đổi>)` thay đổi tất cả giá trị trong cột. Hàm biến đổi có thể là hàm có sẵn hoặc tự định nghĩa.

In [18]:
# Hàm xử lý dữ liệu "$..,..." -> Number
def process_gdp(gdp_str):
    # Cắt "$"
    gdp_str = gdp_str[1:]
    # Cắt space ("Khoảng trắng") ở sau cùng
    gdp_str = gdp_str.strip()
    # Cắt dấu ","
    gdp_str = gdp_str.replace(",", "")
    # Ép kiểu float
    gdp_float = float(gdp_str)
    return gdp_float
process_gdp("$21,427,700,000,000 ")

21427700000000.0

In [2]:
# Apply vào series
gdp_country_series_new = df["gdp_country"].apply(lambda gdp: process_gdp(gdp))
gdp_country_series_new.head()
# to_numberic -> chuyển đổi kiểu dữ liệu từ string -> số
pd.to_numeric(gdp_country_series_new).dtype

NameError: name 'df' is not defined

# Nhóm dữ liệu (groupby)

- Phân tích: Những lĩnh vực nào có tổng lượng tài sản lớn nhất?
  - Nhóm cột finalWorth (tr USD) theo cột industrials /category
  - Tính tổng cột finalWorth
  - Sắp xếp theo thứ tự giảm dần

In [40]:
tong_cate = df[["category", "finalWorth"]].groupby("category").sum()
# DataFrame.sort_values(by=<tên cột>, ascending= True/False)
tong_cate_sorted = tong_cate.sort_values(by = "finalWorth", ascending= True)
tong_cate_sorted.head(10)

                            finalWorth
category
Construction & Engineering      118500
Gambling & Casinos              120500
Sports                          134500
Service                         173400
Telecom                         203500
Logistics                       239500
Media & Entertainment           427500
Metals & Mining                 446800
Energy                          453500
Automotive                      525300

- Phân tích: tính tài sản trung bình của các tỷ phú theo châu lục